html, body {
	margin: 0;
	height: 100%;
 }

#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
    color: white;
	overflow: hidden;
}

#c {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
 }

#content {
	width: 100%;
	height: 300%;
	background-color: blue;
	overflow: hidden;
}