<!DOCTYPE html>
<html>
    <head>
        <title>Three Js - {% block title %}{{page.title}}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <!-- <script src="{{ url_for('static', filename='js/three.js') }}"></script> -->
        {% if page.jsfile %}<script type="module" src="{{ url_for('static', filename='js/'+page.jsfile) }}"></script>{% endif %} 
        {% if page.description %}<div id="info">{{page.description}}</div>{% endif %} 
        {% block dom %}{% endblock %}
    </body>
</html>

